body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.25em;
  background: linear-gradient(
    to right,
    #3FEEE6 0%,
    #3FEEE6 50%,
    #FC4445 50%,
    #FC4445 100%
  );
  display: grid;
  grid-template-columns: 55% 30%;
}

.landing_header.landing_header-name {
  font-size: 120px;
}

.landing_header.landing_header-subtext {
  font-size: 32px;
}

.landing.landing_menu {
  margin-top: 25.5%;
}
